<div id="top">

  <a [routerLink]="['/']">
    <img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt="tengrinews" id="logo">
    <h1></h1>
  </a>

  <div *ngFor="let category of categories" id="category">
      <button (click)="refresh(category)" class="nav-link">
        <a [routerLink]="[ '/'+ category.name]" class="nav-link">
          {{ category.name }}
        </a>
      </button>
  </div>



  <form
    [formGroup]="searchForm"
    class="searchBar"
    (ngSubmit)="onSearchSubmit()"
    [routerLink]="['search/', searchForm.value.searchValue]"
  >
    <input
      type="text"
      placeholder="Поиск.."
      formControlName="searchValue"
      id="search-field"
    />
    <label for="search"></label>
    <button type="submit" >
      <img src="https://tengrinews.kz/tengri_new/img/menu-search.svg" alt="">
    </button>
  </form>
</div>

