<br>

<div class="main-section">

  <div *ngFor="let article of articles" class="article-block">
    <!-- <content *ngIf="article.title != ''"> -->

      <div class="articleImg">
        <img [src]="article.imgURL" />
      </div>
      
      <div class="article-detail">
        <h3>
          <a [title]="article.title"  href="{{ article.articleURL }}">
            <!-- [routerLink]="[article.TengriID]" -->
            <!-- href="{{ article.TengriID }}" -->
            <!-- {{ article }} -->
            {{ article.title }}
          </a>
        </h3>
        
        <span>{{ article.announce }}</span>
        
        <br>
        <br>
        
        <span>
          {{ article.pub_date }}
        </span>
        
        <span>
          <img
          src="https://tengrinews.kz/tengri_new/img/viewings.svg"
          alt="viewed"
          />
        </span>
        
        <span>
          {{ article.viewings }}
        </span>
        
        <span>
          <img
          src="https://tengrinews.kz/tengri_new/img/comments.svg"
          alt="commented"
          />
        </span>
        
        <span>{{ article.comments }}</span>
      </div>
    <!-- </content> -->
    
  </div>

</div>