
.item {
    max-width: 10%;
    display:flexbox;
    flex-direction:initial;
    margin:auto;
    text-align: center;
}


.image-gallery button {
    background-color: #f14635;
    border: 2% solid white;
    /* color: white; */
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
}

.image-gallery button:hover {
    opacity: 0.8;
}

a {
    margin-right: 10px;
}

.main-section {
    background-color: white;
    width: 80%;
    margin:auto;
    text-align: center;
}