<br>

<div class="main-section">

  <div *ngFor="let article of articles" class="article-block">

      <div class="articleImg">
        <img [src]="article.imgURL" />
      </div>
      
      <div class="article-detail">
        <h3>
          <a [title]="article.title"  href="{{ article.articleURL }}">

            {{ article.title }}
          
          </a>
        </h3>
        
        <span>{{ article.announce }}</span>
        
        <br>
        <br>
        
        <span>
          {{ article.pub_date }}
        </span>
      </div>
    
  </div>
  <app-pagination
    [currentCategory]="categoryFromRoute"
    [currentPage]="currentPage"
    ></app-pagination>

</div>